.tags-list-container {
  position: relative;
  height: calc(~"100vh - 100px");
  overflow-y: overlay;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

.sort-tags-list {
  margin-left: auto;
  margin-right: auto;

  &:not(.md-input-has-value) {
    width: 90px;
  }
}

.tags-list {
  color: #8c8c8c;

  md-list-item {
    border-bottom: 1px #eaeaea solid;

    &.active {
      background-color: #4285F4;
    }

    .md-list-item-inner {
      justify-content: space-between;
    }
  }
}

.tags-list-titles {
  font-weight: bold;
  font-size: 14px;
}