<aside>
  <md-content layout-margin class="tags-list-container">
    <md-input-container class="sort-tags-list">
      <label>Sort by</label>
      <md-select ng-model="ctrl.userState">
        <md-option value="links-count">number of links</md-option>
        <md-option value="alphabetically">alphabetically</md-option>
        <md-option value="recent-activity">recent activity</md-option>
      </md-select>
    </md-input-container>

    <md-list class="tags-list">
      <md-list-item class="tags-list-titles" layout layout-align="space-between">
        <span>Tag Name</span>
        <span>Links</span>
      </md-list-item>
      <md-list-item ng-repeat="tag in ctrl.tags" 
                    layout
                    layout-align="space-between" 
                    ng-click="ctrl.setTagAsSearchQuery(tag.name)"
                    class="pointer">
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{ tag.name }}</span>
        <span>{{ tag.linksCount }}</span>
      </md-list-item>
    </md-list>
  </md-content>
</aside>