<sidebar flex="initial" style="width: 250px;" class="hide-sm"></sidebar>

<section class="main-section" flex="auto">
    <div class="main-section-inner">
        <div class="text-center">
            <img src="/assets/images/main-logo.png" alt="">
            <form class="search-form" ng-submit="ctrl.search()">
                <md-input-container class="md-block" layout>
                    <input type="search" ng-model="ctrl.searchQuery" placeholder="Search Tags/Links" flex>
                    <md-button class="search-button md-icon-button md-primary" aria-label="Search Tags/Links">
                        <md-icon md-svg-icon="magnifying-glass"></md-icon>
                    </md-button>
                </md-input-container>
            </form>
        </div>

        <section ng-if="ctrl.tagsSearchResults.length" class="tags-search-results" layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary"
                       ng-repeat="tag in ctrl.tagsSearchResults"
                       ng-click="ctrl.setTagAsSearchQuery(tag.name)">{{ tag.name }} {{ tag.linksCount }}</md-button>
        </section>

        <div ng-if="ctrl.linksSearchResults.length">
            <ul class="links-list">
                <li ng-repeat="link in ctrl.linksSearchResults">
                    <md-card>
                        <div class="link-heading" layout layout-align="flex-start">
                            <h3 class="link-title">{{ link.title }}</h3>
                        </div>
                        <div class="link-meta" layout layout-align="space-between">
                            <a class="link-url" ng-href="{{ link.url }}" target="_blank">{{ link.url }}</a>

                            <star-rating readonly="link.currentUserEvaluation"
                                         ng-model="link.currentUserEvaluation"
                                         on-rating-select="ctrl.rateLink(link)"></star-rating>
                        </div>

                        <ul class="link-tags">
                            <li ng-repeat="tag in link.tags">
                                <div class="tag-buttons-container">
                                    <div class="tag-buttons">
                                        <md-button aria-label="Endorse Tag" class="md-fab md-raised md-mini" ng-click="ctrl.endorseTag(link.id, tag.contributionId)">
                                            <md-icon md-svg-icon="thumbs-up"></md-icon>
                                        </md-button>
                                        <md-button aria-label="Disapprove Tag" class="md-fab md-raised md-mini" ng-click="ctrl.DEendorseTag(link.id, tag.contributionId)">
                                            <md-icon md-svg-icon="thumbs-down"></md-icon>
                                        </md-button>
                                        <md-button aria-label="Search by Tag" class="md-fab md-raised md-mini" ng-click="ctrl.setTagAsSearchQuery(tag.name)">
                                            <md-icon md-svg-icon="magnifying-glass"></md-icon>
                                        </md-button>
                                    </div>
                                </div>

                                <div class="link-tag">
                                    <span class="tag-endorsements">{{ tag.endorsmentCount }}</span>
                                    <md-icon md-svg-icon="thumbs-up"></md-icon>
                                    <span class="vertical-separator"></span>
                                    <span class="tag-name">{{ tag.name }}</span>
                                </div>
                            </li>

                            <li class="new-link-tag">
                                <form ng-submit="ctrl.addTagToLink($select.selected, link.id)">
                                    <ui-select reset-search-input="true"
                                               ng-model="newTag"
                                               on-select="ctrl.addTagToLink($select.selected, link.id)">

                                        <ui-select-match placeholder="Tag it">{{ $item.name }}</ui-select-match>

                                        <ui-select-choices repeat="tag in ctrl.tagsToSelectFrom"
                                                           refresh="ctrl.refreshTagsToSelectFrom($select.search, link.tags)"
                                                           refresh-delay="50">

                                            <div class="select-contributor flex">
                                                <div>{{ tag.name }}</div>
                                            </div>

                                        </ui-select-choices>
                                    </ui-select>
                                </form>
                            </li>
                        </ul>

                    </md-card>
                </li>
            </ul>
        </div>
    </div>
</section>