<h3>Add a link</h3>
<p>
  Every link submitted is considered a contribution, 
  <br>
  as well as every new tagging of the link
</p>

<div class="new-link">
  <form ng-submit="ctrl.submit()">

    <div class="new-link-url">
      <input type="url" placeholder="Insert URL" ng-model="ctrl.newLinkUrl" required>
      <star-rating ng-model="ctrl.newLinkEvaluation" required></star-rating>
      <span class="help-with-tooltip" uib-tooltip="help text here">?</span>
    </div>

    <div class="new-link-tag">
      <ui-select reset-search-input="true"
                 multiple
                 ng-model="ctrl.newLinkTags"
                 on-select="ctrl.addTag($select.selected)">

        <ui-select-match placeholder="Add tags">{{ $item.name }}</ui-select-match>

        <ui-select-choices repeat="tag in ctrl.tagsToSelectFrom"
                           refresh="ctrl.refreshTagsToSelectFrom($select.search)"
                           refresh-delay="50">

          <div class='select-contributor flex'>
            <div>{{ tag.name }}</div>
          </div>

        </ui-select-choices>
      </ui-select>

      <span class="help-with-tooltip" uib-tooltip="help text here">?</span>
    </div>

    <button ng-disabled="ctrl.isFormProcessing">Submit</button>

  </form>
</div>