<md-toolbar class="md-primary" layout="row" layout-align="space-between center">
  <div layout="column">
    <img src="/assets/images/header-logo.png" alt="Logo">
    <small class="powered-by">By Backfeed and Ethereum</small>
  </div>

  <div class="user-stats text-center" ng-if="$root.currentUser">
    <div class="user-stat"
         uib-popover="Searching the Qrate library as well as submission of new URLs and Tags cost tokens. If your submissions will be appreciated by the community you will be rewarded with many more in return. If you only search the library without contributing tit, you’ll have to buy tokens from someone who is mostly contributing."
         popover-title="Tokens"
         popover-placement="bottom"
         popover-trigger="mouseenter">
      My Tokens:  {{ $root.currentUser.tokens }}
    </div>

    <div class="user-stat"
         uib-popover="You put a fraction of reputation on stake every time you evaluate a URL or endorse a tag. If your evaluation or endorsement is indicative of future evaluations, your reputation will rise in the community. When determining the relevance of a tag to a URL our system weights the endorsements according to the evaluators reputation. The more reputation you have, the more your opinion counts and the more you are able to shape the structure of the curated library."
         popover-title="Reputation"
         popover-placement="bottom"
         popover-trigger="mouseenter">
      My Reputation:  {{ $root.currentUser.reputation }}
    </div>
  </div>
  <div class="profile pointer" ng-if="$root.currentUser"
       uib-popover-template="'avatarPopoverTemplate.html'"
       popover-placement="bottom"
       tooltip-trigger="mouseenter">
    <img gravatar-src="$root.currentUser.email" gravatar-size="48" gravatar-default="identicon">
  </div>

  <script type="text/ng-template" id="avatarPopoverTemplate.html">
    <div>some awesome <strong>html </strong> in here</div>
    <button ng-click="ctrl.logout()" ng-if="$root.currentUser">Logout</button>
  </script>

  <button ng-click="ctrl.login()" ng-if="!$root.currentUser">login</button>

  <md-button class="md-accent md-fab add-link-button" aria-label="Add Links" ng-click="ctrl.openAddLinkModal()">
    <md-tooltip md-direction="down">
      Add Links
    </md-tooltip>
    <md-icon md-svg-icon="plus" style="color: white;"></md-icon>
  </md-button>
  <!-- {{ $root.currentUser.ehter }} -->

</md-toolbar>
