<md-toolbar class="md-primary" layout layout-sm="column" layout-align="space-between center" layout-align-sm="center center">
  <div layout="column" layout-align="start center">
    <img src="/assets/images/header-logo.png" alt="Logo">
    <small class="powered-by">By <a href="http://backfeed.cc/" target="_blank">Backfeed</a> and <a href="http://ethereum.org/" target="_blank">Ethereum</a></small>
  </div>

  <div class="user-stats text-center" ng-if="$root.currentUser">
    <div class="user-stat"
         uib-popover="Searching the Qrate library as well as submission of new URLs and Tags cost tokens. If your submissions will be appreciated by the community you will be rewarded with many more in return. If you only search the library without contributing tit, you’ll have to buy tokens from someone who is mostly contributing."
         popover-title="Tokens"
         popover-placement="bottom"
         popover-trigger="mouseenter">
      Tokens:  {{ $root.currentUser.tokens }}
    </div>

    <div class="user-stat"
         uib-popover="You put a fraction of reputation on stake every time you evaluate a URL or endorse a tag. If your evaluation or endorsement is indicative of future evaluations, your reputation will rise in the community. When determining the relevance of a tag to a URL our system weights the endorsements according to the evaluators reputation. The more reputation you have, the more your opinion counts and the more you are able to shape the structure of the curated library."
         popover-title="Reputation"
         popover-placement="bottom"
       popover-trigger="mouseenter">
      Reputation:  {{ $root.currentUser.reputation }}
    </div>
  </div>
  <div class="profile" ng-if="$root.currentUser">
    <img class="img-circle pointer"
         gravatar-src="$root.currentUser.email" gravatar-size="48" gravatar-default="identicon"
         uib-popover-template="'avatarPopoverTemplate.html'"
         popover-placement="bottom"
         tooltip-trigger="click">
  </div>

  <script type="text/ng-template" id="avatarPopoverTemplate.html">
    <div class="popover-stats">
      <div class="popover-stat" layout layout-padding layout-align="space-between center">
        <div class="popover-stat-title">Ether Left</div>
        <div class="popover-stat-value">405</div>
      </div>
      <div class="popover-stat" layout layout-padding layout-align="space-between center">
        <div class="popover-stat-title">Links Added</div>
        <div class="popover-stat-value">405</div>
      </div>
      <div class="popover-stat" layout layout-padding layout-align="space-between center">
        <div class="popover-stat-title">Tags Suggested</div>
        <div class="popover-stat-value">405</div>
      </div>
      <div class="popover-stat" layout layout-padding layout-align="space-between center">
        <div class="popover-stat-title">Tags Endorsed</div>
        <div class="popover-stat-value">405</div>
      </div>
      <div class="popover-stat" layout layout-padding layout-align="space-between center">
        <div class="popover-stat-title">Links Evaluated</div>
        <div class="popover-stat-value">405</div>
      </div>
    </div>
    <div class="popover-footer">
      <md-button ng-click="ctrl.logout()" class="md-primary">Sign Out</md-button>
    </div>
  </script>

  <md-button class="md-raised" ng-click="ctrl.login()" ng-if="!$root.currentUser">Login</md-button>

  <md-button class="md-accent md-fab add-link-button" aria-label="Add Links" ng-click="ctrl.openAddLinkModal()">
    <md-tooltip md-direction="down">
      Add Links
    </md-tooltip>
    <md-icon md-svg-icon="plus" style="color: white;"></md-icon>
  </md-button>
  <!-- {{ $root.currentUser.ehter }} -->

</md-toolbar>
