topbar {
  md-toolbar {
    padding: 17px 64px 14px 40px;
  }
}

.powered-by {
  position: absolute;
  bottom: -18px;
  left: 40px;
  font-size: 11px;
  color: @color-primary;
}

.user-stats {
  font-size: 16px;
  color: #e5e5e5;
}

.add-link-button {
  position: absolute;
  right: 280px;
  top: 35px;
}