topbar {
  md-toolbar {
    padding: 17px 64px 14px 40px;
  }
}

.powered-by {
  position: absolute;
  bottom: -18px;
  left: 40px;
  font-size: 14px;
}

.user-stats {
  font-size: 16px;
  color: #e5e5e5;
}